<ion-view view-title="Редагувати статтю">

<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-trash-a" ng-click="deleteArticle(article.id)"></button>
</ion-nav-buttons>

<ion-content>

  <div class="list list-inset">

    <label class="item item-input">
      <div class="input-label positive">Ім'я</div>
      <input type="text" ng-model="article.name" required>
    </label>

    <label class="item item-input item-select">
      <div class="input-label positive">Тип
        <select ng-model="article.type" ng-options='type as type for type in types'>
        </select>
      </div>
    </label>

    <button type="submit" class="button button-block button-positive" ng-click="updateArticle()">
      Зберегти
    </button>

  </div>

</ion-content>

</ion-view>
