<ion-view view-title="Новий контрагент">

<ion-content>

  <div class="list list-inset">

    <form name='newCounterpartyForm' novalidate>

      <label class="item item-input">
        <div class="input-label positive">Ім'я</div>
        <input type="text" ng-model="counterparty.name" required>
      </label>

      <label class="item item-input">
        <div class="input-label positive">Дата</div>
        <input type="date" ng-model="counterparty.date" required>
      </label>

      <label class="item item-input item-select">
        <div class="input-label positive">Тип
          <select ng-model="counterparty.type" ng-options='type as type for type in types'>
          </select>
        </div>
      </label>

      <label class="item item-input">
        <div class="input-label positive">Email</div>
        <input type="email" ng-model="counterparty.email">
      </label>

      <button type="submit" class="button button-block button-positive" ng-click="saveCounterparty()">
        Додати
      </button>

    </form>

  </div>

</ion-content>

</ion-view>
