<ion-view view-title="List of our holidays for {{currentYear}} year">
  <ion-content class="padding">
    <div class="list">
      <div class='row row-center item item-divider'>
        <div class='col col-67'>Title</div>
        <div class='col'>Date</div>
      </div>
      <div class='row row-center item' ng-repeat='holiday in holidays'>
        <div class='col col-67' ng-bind='holiday.name'></div>
        <div class='col' ng-bind='holiday.date'></div>
      </div>
    </div>
  </ion-content>
</ion-view>
