<ion-view view-title="Management own hours">
  <ion-content class="padding">
    <form name='hoursForm' novalidate>
      <div class="list list-inset">

        <div class="assertive">{{ hour.errors.customer_id[0] }}</div>
        <label class="item item-select">
          <select ng-model="hour.customer_id" class="customer_select">
            <option ng-repeat='customer in customers' value='{{ customer.id }}' ng-selected='{{ customer.id == customer_id }}'>
              {{ customer.name }}
            </option>
          </select>
        </label>

        <div class="assertive">{{ hour.errors.hours[0] }}</div>
        <label class="item item-input">
          <input type="number" placeholder="Hours" ng-model='hour.hours' name='hours' mix='0' max='999' required>
        </label>

        <div class="assertive">{{ hour.errors.month[0] }}</div>
        <label class="item item-input">
          <ionic-datepicker input-obj="datepicker">
            <input type="text" placeholder="Month" ng-model="hour.month" name="month" required>
          </ionic-datepicker>
        </label>

        <button type="submit" ng-click='add()' class="button button-block button-calm">
          Add
        </button>

      </div>
    </form>

    <div class="list hours" ng-repeat="hour in hours">
      <div class="row row-center">
        <div class="col">{{hour.customer.name}}</div>
        <div class="col">
          <span ng-click="edit = !edit" ng-show="!edit">{{hour.hours}}</span>
          <label class="item-input-wrapper">
            <input type="number" class="number" placeholder="Hours" ng-model='hour.hours' ng-show="edit" mix='0' max='999'>
          </label>
        </div>
        <div class="col">{{hour.month}}</div>
        <div class="col">
          <div class="button-bar">
            <button type="submit" class="button button-light" ng-show="edit" ng-click="edit = !edit; update(hour.id, hour.hours)">
              <i class="icon ion-checkmark-circled text-green"></i>
            </button>
            <button class="button button-light" ng-click="delete(hour.id, $index)">
              <i class="icon ion-minus-circled text-red"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
