<div class="col col-33" ng-bind="hour.customer.name"></div>
<div class="col col-20">
  <span ng-click="edit = !edit" ng-show="!edit" ng-bind="hour.hours"></span>
  <input class="input" type="number" placeholder="Hours" ng-model='hour.hours' ng-show="edit" mix='0' max='999'>
</div>
<div class="col col-25" ng-bind="hour.month"></div>
<div class="col col-10">
  <button type="submit" class="button icon ion-checkmark-round button-small button-clear button-balanced"
  ng-show="edit" ng-click="edit = !edit; update(hour.id, hour.hours)">
</button>
</div>
<div class="col col-10">
  <button class="button icon ion-close-round button-small button-clear button-assertive" ng-click="delete(hour.id, $index)"></button>
</div>
