<ion-view view-title="Active accounting for vendors" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password">
          </label>
      </div>
      <button class="button button-block button-calm" ui-sref="/vendor_login">Sign in</button>

      <button class="button button-block button-dark">
        Forgot your password?
      </button>

  </ion-content>
</ion-view>
