<ion-view view-title="Active accounting for vendors">
  <ion-content class="padding">
	  <form name='loginForm' novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model='vendor.email' name='email' required>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model='vendor.password' name='password' required>
        </label>
      </div>

      <p class="text-red" ng-show="loginForm.email.$error.required">* Email is required</p>
      <p class="text-red" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">* Email is invalid</p>
      <p class="text-red" ng-show="loginForm.password.$error.required">* Password is required</p>

      <button ng-click='submit()' ng-disabled="loginForm.$invalid" class="button button-block button-balanced">
        Sign in
      </button>

      <button class="button button-block button-dark" ui-sref="vendor_password_reset">
          Forgot your password?
      </button>

      <p class="text-center">
        <a href="#">Admin panel</a>
      </p>
    </form>

  </ion-content>
</ion-view>
