<ion-view view-title="Реєстр">

<ion-nav-buttons side="right">
	<a class="button button-dark" ui-sref="admin.register_new"> Додати </a>
</ion-nav-buttons>

<ion-content>

	<div class="row header">
	  <div class="col">Дата</div>
		<div class="col">Стаття</div>
		<div class="col">Контрагент</div>
		<div class="col">Сума</div>
	</div>

	<div class="row register" ng-repeat="register in registers" ui-sref="admin.register_detail({registerId: register.id})">
		<div class="col">{{register.date}}</div>
		<div class="col">{{register.article.name}}</div>
		<div class="col">{{register.counterparty.name}}</div>
		<div class="col">{{register.value}}{{register.currency}}</div>
	</div>

</ion-content>

</ion-view>
